# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

ordered_list = ["Python", "Java", "R"]

# Some of the commonly used libraries used by Data Scientists include:

my_list = ["Numpy","Pandas","Matplotlib"]

# Data Science Tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| GitHub |
| IBM Watson Studio |

# Below are a few examples of evaluating arithmetic expressions in Python

a = 1, b = 3

b - a,
a + b,
a / b,
a * b

In [15]:
# This a simple arithmetic expression to mutiply then add integers\

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200//60
print(hours)

3

# Objectives

- Python
- Scala
- Java
- R

## Author
Vigna Ramtej Telagarapu